/* (주)한신정보기술 김진솔 - 2022.10 */

.site_map{position:absolute;top:60px;right:55px;z-index:31;width:24px;height:18px;background:url(/portfolio/images/jecheon/common/sitemap_icon.png) no-repeat -24px 0;color:transparent;font-size:0;}

@keyframes arrowShake{0%{transform:translateX(0);}25%{transform:translateX(-7px);}50%{transform:translateX(0);}75%{transform:translateX(7px);}}
@keyframes arrowShake2{0%{transform:translateX(0);}25%{transform:translateX(-3px);}50%{transform:translateX(0);}75%{transform:translateX(3px);}}
@keyframes visualAni{0%{transform:translateY(100px);opacity:0;}100%{transform:translateY(0);opacity:1;}}

.rowgroup1{position:relative;margin-bottom:100px;letter-spacing:-0.04em;}
.rowgroup1 .textbox{position:relative;margin-top:300px;}
.rowgroup1 .textbox .deco{position:absolute;top:-33px;color:#0c0b40;font-size:60px;font-weight:100;line-height:60px;}
.rowgroup1 .textbox p{margin-bottom:87px;color:#0c0b40;font-size:38px;font-weight:300;line-height:48px;}
.rowgroup1 .textbox .title{position:relative;color:#0c0b40;font-size:50px;font-weight:800;line-height:60px;}
.rowgroup1 .textbox .title:before{display:block;position:absolute;top:-46px;left:0;width:30px;height:4px;background-color:#0c0b40;content:"";}
.rowgroup1 .visual_slide{position:relative;width:1002px;height:700px;background-color:white;}
.rowgroup1 .visual_slide .slick-slide{overflow:hidden;height:700px;border-radius:100px 0 100px 30px;}
.rowgroup1 .visual_slide .slick-slide .imgbox{width:100%;height:700px;background-repeat:no-repeat;background-position:center top;background-size:cover;}
.rowgroup1 .visual_slide .slick-slide .imgbox img{width:0;height:0;}
.rowgroup1 .visual_slide .slide_control{position:absolute;top:156px;left:-80px;z-index:10;font-size:0;}
.rowgroup1 .visual_slide .slide_control button{position:relative;width:80px;height:80px;background-color:#0c0b40;color:transparent;font-size:0;}
.rowgroup1 .visual_slide .slide_control button:after{display:block;position:absolute;top:calc(50% - 15px);left:calc(50% - 9px);width:18px;height:30px;background:url(/portfolio/images/jecheon/main/visual_arrow.png) no-repeat;content:"";}
.rowgroup1 .visual_slide .slide_control button.prev{border-radius:40px 0 0 40px;}
.rowgroup1 .visual_slide .slide_control button.next{border-radius:0 40px 40px 0;background-color:#0a0933;}
.rowgroup1 .visual_slide .slide_control button.next:after{transform:scaleX(-1);}
.rowgroup1 .visual_slide .countbox{position:absolute;top:156px;left:calc(100% - 1400px);color:#000d2f;font-size:0;line-height:30px;}
.rowgroup1 .visual_slide .countbox span{font-size:16px;font-weight:300;}
.rowgroup1 .visual_slide .countbox .current{font-size:24px;font-weight:600;}
.rowgroup1 .visual_slide .countbox .gap{margin:0 5px 0 10px;}
.rowgroup1 .visual_slide .countbox .auto{position:relative;top:3px;width:28px;height:28px;margin-left:30px;border-radius:50%;background-color:#0c0b40;color:transparent;font-size:0;vertical-align:top;}
.rowgroup1 .visual_slide .countbox .auto:after{display:block;position:absolute;top:calc(50% - 4px);left:calc(50% - 4px);width:9px;height:8px;background:url(/portfolio/images/jecheon/main/visual_arrow.png) no-repeat;content:"";background-position-y:-30px;}
.rowgroup1 .visual_slide .countbox .auto.slick-play:after{top:calc(50% - 5px);height:10px;background-position-x:-18px;}
.rowgroup1 .visual_slide .sns_box{position:absolute;bottom:0;left:0;z-index:10;color:transparent;font-size:0;}
.rowgroup1 .visual_slide .sns_box a{position:relative;width:133px;height:120px;}
.rowgroup1 .visual_slide .sns_box a:after{display:block;position:absolute;content:"";}
@media (min-width:1001px){
    .rowgroup1:before{display:block;position:absolute;top:263px;right:1079px;width:708px;height:715px;background:url(/portfolio/images/jecheon/main/deco01.png) no-repeat center / contain;content:"";}
    .rowgroup1 .flexbox{display:flex;justify-content:space-between;align-items:flex-start;position:relative;width:100%;}
    .rowgroup1 .flexbox:before{display:block;position:absolute;top:-150px;right:calc((100% - 100vw) / 2);width:calc((100vw - 100%) / 2 + 147px);height:721px;background-color:#0c0b40;content:"";}
    .rowgroup1 .textbox:before{display:block;position:absolute;top:-104px;left:calc((1400px - 100vw) / 2);width:50vw;height:1px;background-color:#e3e3e3;content:"";}
    .rowgroup1 .textbox .deco, .rowgroup1 .textbox p, .rowgroup1 .textbox .title, .rowgroup1 .textbox .title em{animation:visualAni 1000ms both ease-in-out;}
    .rowgroup1 .textbox .deco{animation-delay:200ms;}
    .rowgroup1 .textbox p{animation-delay:600ms;}
    .rowgroup1 .textbox p span{color:#00a999;}
    .rowgroup1 .textbox .title{animation-delay:1000ms;}
    .rowgroup1 .textbox .title em{animation-delay:1400ms;}
    .rowgroup1 .textbox .title span{color:#00a999;}
    .rowgroup1 .visual_slide .slide_control button:hover:after{background-position-x:-18px;}
    .rowgroup1 .visual_slide .sns_box{overflow:hidden;border-radius:0 30px 0 30px;}
    .rowgroup1 .visual_slide .sns_box a:hover:after{transform:rotateY(360deg);transition:300ms linear;}
    .rowgroup1 .visual_slide .sns_box a.facebook{background-color:#00a999;}
    .rowgroup1 .visual_slide .sns_box a.blog{background-color:#00aeef;}
    .rowgroup1 .visual_slide .sns_box a.band{background-color:#0c0b40;}
    .rowgroup1 .visual_slide .sns_box a:after{background:url(/portfolio/images/jecheon/main/sns_icon.png) no-repeat;transform:rotateY(0);}
    .rowgroup1 .visual_slide .sns_box a.facebook:after{top:calc(50% - 16px);left:calc(50% - 8px);width:17px;height:33px;}
    .rowgroup1 .visual_slide .sns_box a.blog:after{top:calc(50% - 15px);left:calc(50% - 12px);width:24px;height:30px;background-position-x:-30px;}
    .rowgroup1 .visual_slide .sns_box a.band:after{top:calc(50% - 16px);left:calc(50% - 13px);width:26px;height:33px;background-position-x:-60px;}
}
@media (max-width:1400px){
    .site_map{right:0;}
    .rowgroup1{margin-bottom:80px;}
    .rowgroup1:before{top:105px;right:679px;width:590px;}
    .rowgroup1 .flexbox:before{width:calc((100vw - 100%) / 2 + 40px);height:500px;}
    .rowgroup1 .textbox{margin-top:188px;}
    .rowgroup1 .textbox:before{top:-63px;left:calc((1000px - 100vw) / 2);}
    .rowgroup1 .textbox p{margin-bottom:50px;}
    .rowgroup1 .visual_slide{width:650px;height:454px;}
    .rowgroup1 .visual_slide .slick-slide, .rowgroup1 .visual_slide .slick-slide .imgbox{height:454px;}
    .rowgroup1 .visual_slide .slide_control{top:90px;left:-70px;}
    .rowgroup1 .visual_slide .slide_control button{width:70px;height:70px;}
    .rowgroup1 .visual_slide .countbox{top:81px;left:calc(100% - 1000px);}
    .rowgroup1 .visual_slide .sns_box a{width:100px;height:100px;}
}
@media (max-width:1000px){
    .rowgroup1{margin-top:20px;margin-bottom:80px;}
    .rowgroup1 .textbox{position:absolute;top:0;left:0;z-index:10;width:280px;height:100%;margin-top:0;padding-top:120px;padding-left:50px;box-sizing:border-box;}
    .rowgroup1 .textbox:before{display:block;position:absolute;top:0;left:0;width:248px;height:100%;background:url(/portfolio/images/jecheon/main/responsive_deco.png) no-repeat;content:"";border-top-left-radius:50px;border-bottom-left-radius:30px;}
    .rowgroup1 .textbox .deco, .rowgroup1 .textbox p, .rowgroup1 .textbox .title{color:white;}
    .rowgroup1 .textbox .deco{top:90px;font-size:50px;line-height:50px;}
    .rowgroup1 .textbox p{position:relative;margin-bottom:30px;font-size:26px;line-height:34px;}
    .rowgroup1 .textbox .title{font-size:38px;line-height:50px;}
    .rowgroup1 .textbox .title:before{top:-15px;width:20px;height:1px;background-color:white;}
    .rowgroup1 .visual_slide{width:100%;}
    .rowgroup1 .visual_slide .slick-slide{border-radius:50px 0 30px 30px;}
    .rowgroup1 .visual_slide .slide_control{top:auto;right:0;bottom:-35px;left:auto;}
    .rowgroup1 .visual_slide .countbox{top:auto;bottom:-50px;left:50%;transform:translateX(-50%);}
    .rowgroup1 .visual_slide .countbox span{font-size:14px;}
    .rowgroup1 .visual_slide .countbox .current{font-size:20px;}
    .rowgroup1 .visual_slide .countbox .auto{margin-left:20px;}
    .rowgroup1 .visual_slide .sns_box{bottom:60px;left:50px;}
    .rowgroup1 .visual_slide .sns_box a{width:25px;height:25px;margin-right:30px;}
    .rowgroup1 .visual_slide .sns_box a:last-child{margin-right:0;}
    .rowgroup1 .visual_slide .sns_box a:after{top:3px;background:url(/portfolio/images/jecheon/main/sns_responsive_icon.png) no-repeat;}
    .rowgroup1 .visual_slide .sns_box a.facebook:after{left:7px;width:11px;height:19px;}
    .rowgroup1 .visual_slide .sns_box a.blog:after{left:6px;width:14px;height:18px;background-position-x:-20px;}
    .rowgroup1 .visual_slide .sns_box a.band:after{left:6px;width:16px;height:19px;background-position-x:-40px;}
}
@media (max-width:800px){
    .rowgroup1 .textbox{padding-top:90px;}
    .rowgroup1 .textbox .deco{top:60px;}
    .rowgroup1 .visual_slide, .rowgroup1 .visual_slide .slick-slide{height:400px;}
}
@media (max-width:640px){
    .rowgroup1{margin-bottom:60px;}
    .rowgroup1 .textbox{width:158px;padding-top:69px;padding-left:30px;}
    .rowgroup1 .textbox .deco{top:53px;font-size:25px;line-height:25px;}
    .rowgroup1 .textbox p{margin-bottom:15px;font-size:16px;line-height:20px;}
    .rowgroup1 .textbox .title{font-size:20px;line-height:24px;}
    .rowgroup1 .textbox .title:before{top:-8px;width:12px;}
    .rowgroup1 .visual_slide, .rowgroup1 .visual_slide .slick-slide, .rowgroup1 .visual_slide .slick-slide .imgbox{height:270px;}
    .rowgroup1 .visual_slide .slide_control{bottom:-25px;}
    .rowgroup1 .visual_slide .slide_control button{width:50px;height:50px;}
    .rowgroup1 .visual_slide .slide_control button:after{top:calc(50% - 9px);left:calc(50% - 5px);width:10px;height:18px;background-size:20px 36px;}
    .rowgroup1 .visual_slide .countbox{bottom:-42px;}
    .rowgroup1 .visual_slide .countbox span{font-size:12px;}
    .rowgroup1 .visual_slide .countbox .current{font-size:16px;line-height:18px;}
    .rowgroup1 .visual_slide .countbox .gap{margin:0 3px 0 6px;}
    .rowgroup1 .visual_slide .countbox .auto{width:22px;height:22px;margin-left:9px;}
    .rowgroup1 .visual_slide .sns_box{bottom:48px;left:23px;}
    .rowgroup1 .visual_slide .sns_box a{margin-right:10px;}
}

.rowgroup2{position:relative;letter-spacing:-0.04em;}
.rowgroup2 .flexbox{display:flex;justify-content:space-between;align-items:flex-end;width:100%;}
.rowgroup2 .sub_visual{width:620px;height:590px;padding:175px 93px 0 288px;border-radius:100px 100px 0 100px;box-sizing:border-box;background:url(/portfolio/images/jecheon/main/sub_visual.jpg) no-repeat center top / cover;box-shadow:35px 35px 40px rgba(23, 18, 50, 0.2);}
.rowgroup2 .sub_visual .title{margin-bottom:91px;color:white;font-size:40px;font-weight:100;line-height:50px;}
.rowgroup2 .sub_visual .title span{position:relative;font-weight:600;}
.rowgroup2 .sub_visual .title span:before{display:inline-block;position:absolute;top:-16px;left:-30px;font-size:80px;font-weight:100;line-height:80px;content:"“";opacity:0.5;}
.rowgroup2 .sub_visual .myself div{position:relative;}
.rowgroup2 .sub_visual .myself div:last-child{margin-top:90px;}
.rowgroup2 .sub_visual .myself div:after{display:block;position:absolute;bottom:-23px;left:0;width:100%;height:2px;background-color:white;content:"";box-shadow:11px 11px 10px rgba(23, 18, 50, 0.5);}
.rowgroup2 .sub_visual .myself a{display:block;padding-left:56px;color:white;font-size:24px;font-weight:600;line-height:30px;}
.rowgroup2 .sub_visual .myself a:before{display:block;position:absolute;top:3px;left:12px;width:24px;height:24px;background:url(/portfolio/images/jecheon/main/sub_visual_icon.png) no-repeat;content:"";}
.rowgroup2 .sub_visual .myself div:last-child a:before{background-position-x:-24px;}
.rowgroup2 .sub_visual .myself a:after{display:block;position:absolute;top:9px;right:0;width:21px;height:12px;background:url(/portfolio/images/jecheon/main/link_arrow.png) no-repeat;content:"";}
.rowgroup2 .link_box li{position:relative;width:780px;height:180px;padding-left:162px;}
.rowgroup2 .link_box li:nth-child(2n-1):before{display:block;position:absolute;top:0;left:-100px;width:90vw;height:100%;background-color:#f2fbfe;content:"";}
.rowgroup2 .link_box li a{position:relative;width:100%;height:100%;padding-left:114px;box-sizing:border-box;}
.rowgroup2 .link_box li a:after{display:block;position:absolute;top:calc(50% - 6px);right:30px;width:21px;height:12px;background:url(/portfolio/images/jecheon/main/link_arrow.png) no-repeat -21px 0;content:"";}
.rowgroup2 .link_box li a i{display:block;position:absolute;top:60px;left:14px;width:50px;height:50px;border:15px solid transparent;border-radius:50%;box-sizing:border-box;background-image:linear-gradient(#fff, #fff),linear-gradient(-35deg, #81efe5,  #cdccf2);background-origin:border-box;background-clip:content-box, border-box;}
.rowgroup2 .link_box li:nth-child(2n-1) a i{background-image:linear-gradient(#f2fbfe, #f2fbfe),linear-gradient(-35deg, #81efe5,  #cdccf2);}
.rowgroup2 .link_box li a i:after{display:block;position:absolute;top:8px;left:-29px;width:40px;height:40px;background:url(/portfolio/images/jecheon/main/link_icon.png) no-repeat;content:"";}
.rowgroup2 .link_box li:nth-child(2) a i:after{top:6px;width:36px;height:44px;background-position-x:-40px;}
.rowgroup2 .link_box li:nth-child(3) a i:after{background-position-x:-80px;}
.rowgroup2 .link_box li a .text{display:flex;flex-direction:column;justify-content:center;align-items:flex-start;height:100%;}
.rowgroup2 .link_box li a .text div{margin-bottom:15px;color:#0c0b40;font-size:30px;font-weight:500;line-height:40px;}
.rowgroup2 .link_box li a .text p{color:#666;font-size:18px;font-weight:300;}
@media (min-width:1001px){
    .rowgroup2 .sub_visual{z-index:1;}
    .rowgroup2 .sub_visual .myself a:hover:after{animation:arrowShake 1000ms infinite linear;}
    .rowgroup2 .link_box li a:hover:after{animation:arrowShake 1000ms infinite linear;}
    .rowgroup2 .link_box li a:hover i:after{transform:rotateY(360deg);transition:300ms linear;}
}
@media (max-width:1400px){
    .rowgroup2 .sub_visual{width:450px;height:430px;padding:125px 73px 0 180px;border-radius:80px 80px 0 80px;}
    .rowgroup2 .sub_visual .title{margin-bottom:50px;}
    .rowgroup2 .sub_visual .myself div:last-child{margin-top:60px;}
    .rowgroup2 .link_box li{width:550px;height:130px;padding-left:70px;}
    .rowgroup2 .link_box li a{padding-left:90px;}
    .rowgroup2 .link_box li a:after{right:10px;}
    .rowgroup2 .link_box li a i{top:43px;}
}
@media (max-width:1000px){
    .rowgroup2 .flexbox{flex-direction:column;align-items:center;}
    .rowgroup2 .sub_visual{width:100%;max-width:620px;height:300px;margin-bottom:20px;padding:70px 50px 0;border-radius:50px 50px 0 50px;background:url(/portfolio/images/jecheon/main/sub_visual_responsive.jpg) no-repeat center;box-shadow:none;}
    .rowgroup2 .sub_visual .title{font-size:32px;line-height:40px;text-align:center;}
    .rowgroup2 .sub_visual .title span:before{top:-5px;left:-24px;font-size:65px;line-height:65px;}
    .rowgroup2 .sub_visual .myself{display:flex;justify-content:space-between;align-items:flex-start;width:100%;}
    .rowgroup2 .sub_visual .myself div{width:calc((100% - 140px) / 2);}
    .rowgroup2 .sub_visual .myself a{padding-left:40px;font-size:20px;}
    .rowgroup2 .sub_visual .myself div:last-child{margin-top:0;}
    .rowgroup2 .sub_visual .myself div:after{bottom:-15px;height:1px;}
    .rowgroup2 .sub_visual .myself a:before{left:0;}
    .rowgroup2 .link_box{width:100%;}
    .rowgroup2 .link_box li{width:100%;max-width:620px;height:130px;margin:0 auto;padding-left:21px;}
    .rowgroup2 .link_box li:nth-child(2n-1):before{left:calc((100% - 100vw) / 2);width:100vw;}
    .rowgroup2 .link_box li a i{width:40px;height:40px;border-width:10px;}
    .rowgroup2 .link_box li a .text div{margin-bottom:6px;font-size:22px;line-height:30px;}
    .rowgroup2 .link_box li a .text p{font-size:16px;line-height:20px;}
}
@media (max-width:640px){
    .rowgroup2 .sub_visual{height:200px;padding:53px 36px 0;border-radius:30px 30px 0 30px;background-size:120%;background-position-y:-20px;}
    .rowgroup2 .sub_visual .title{margin-bottom:21px;font-size:26px;}
    .rowgroup2 .sub_visual .title span:before{font-size:50px;line-height:50px;}
    .rowgroup2 .sub_visual .myself div{width:calc((100% - 40px) / 2);}
    .rowgroup2 .sub_visual .myself div:last-child a:before{background-position-x:-20px;}
    .rowgroup2 .sub_visual .myself a{padding-left:30px;font-size:16px;line-height:24px;}
    .rowgroup2 .sub_visual .myself a:before{width:20px;height:20px;background-size:40px 20px;}
    .rowgroup2 .link_box li{height:97px;}
    .rowgroup2 .link_box li a{padding-left:58px;}
    .rowgroup2 .link_box li a:after{top:calc(50% - 5px);width:17px;height:11px;background-size:34px 11px;background-position-x:-17px;}
    .rowgroup2 .link_box li a i{top:29px;left:10px;width:30px;height:30px;}
    .rowgroup2 .link_box li a i:after{top:4px;left:-20px;width:24px;height:24px;background-size:72px 27px;}
    .rowgroup2 .link_box li:nth-child(2) a i:after{top:6px;top:2px;left:-18px;width:23px;height:26px;background-position-x:-24px;}
    .rowgroup2 .link_box li:nth-child(3) a i:after{background-position-x:-48px;}
    .rowgroup2 .link_box li a .text div{margin-bottom:0;font-size:18px;}
    .rowgroup2 .link_box li a .text p{font-size:12px;}
}

.rowgroup3{position:relative;padding-top:73px;}
.rowgroup3:before{display:block;position:absolute;top:374px;left:calc((1400px - 100vw) / 2);width:100vw;height:626px;background-color:#f7f7f9;content:"";}
.rowgroup3 h2 em{position:relative;}
.rowgroup3 .more{margin-top:8px;text-align:right;}
.rowgroup3 .more a{position:relative;width:70px;color:#333;font-size:15px;font-weight:300;line-height:21px;text-align:left;}
.rowgroup3 .more a:after{display:block;position:absolute;top:calc(50% - 9px);right:0;width:18px;height:18px;background:url(/portfolio/images/jecheon/main/card_icon.png) no-repeat;transform:rotateY(0);content:"";}
.rowgroup3 .card_slide{position:relative;width:calc(100% + 20px);margin-left:-10px;font-family:Noto;}
.rowgroup3 .card_slide .slick-list{padding:30px 40px 58px;}
.rowgroup3 .card_slide .slick-slide{width:420px;height:400px;margin-right:40px;}
.rowgroup3 .card_slide .slide_control{position:absolute;top:0;left:0;width:100%;}
.rowgroup3 .card_slide .slide_control button{position:absolute;top:208px;width:46px;height:46px;border:2px solid #00a999;border-radius:50%;background-color:#00a999;color:transparent;font-size:0;}
.rowgroup3 .card_slide .slide_control button.prev{left:-36px;}
.rowgroup3 .card_slide .slide_control button.next{right:-36px;}
.rowgroup3 .card_slide .slide_control button:after{display:block;position:absolute;top:calc(50% - 9px);left:calc(50% - 5px);width:11px;height:17px;background:url(/portfolio/images/jecheon/main/card_arrow.png) no-repeat;content:"";}
.rowgroup3 .card_slide .slide_control button.next:after{transform:scaleX(-1);}
.rowgroup3 .flip{display:block;width:420px;height:400px;border-radius:30px;box-sizing:border-box;text-align:left;word-break:keep-all;transition:350ms ease-in-out;}
.rowgroup3 .flipcard{position:relative;width:100%;height:100%;color:#333;transition:500ms;}
.rowgroup3 .flipcard .imgbox{width:100%;height:280px;background-repeat:no-repeat;background-position:center;background-size:cover;}
.rowgroup3 .flipcard .imgbox img{width:0;height:0;}
.rowgroup3 .flipcard .title{max-height:24px;font-size:18px;font-weight:500;}
.rowgroup3 .flipcard .date{position:absolute;bottom:33px;left:40px;padding-left:25px;font-size:15px;font-weight:300;line-height:19px;}
.rowgroup3 .flipcard .date:before{display:block;position:absolute;top:1px;left:0;width:16px;height:17px;background:url(/portfolio/images/jecheon/main/card_icon.png) no-repeat -18px 0;content:"";}
.rowgroup3 .front, .rowgroup3 .back{overflow:hidden;position:absolute;width:100%;height:100%;border-radius:30px;box-sizing:border-box;}
.rowgroup3 .front .titlebox{padding:24px 42px;}
.rowgroup3 .front .titlebox .title{overflow:hidden;max-height:24px;white-space:nowrap;text-overflow:ellipsis;}
.rowgroup3 .back{visibility:hidden;padding:40px;transform:rotateY(180deg);transition:visibility 1000ms;}
.rowgroup3 .back i{display:block;width:18px;height:14px;margin-left:4px;background:url(/portfolio/images/jecheon/main/card_icon.png) no-repeat -36px 0;}
.rowgroup3 .back .title{position:relative;width:280px;max-height:48px;margin-top:18px;margin-bottom:48px;}
.rowgroup3 .back .text{max-height:138px;font-size:15px;line-height:23px;opacity:0.5;}
.rowgroup3 .back .abtn{position:absolute;color:transparent;font-size:0;}
.rowgroup3 .flip:focus, .rowgroup3 .flip:hover{box-shadow:18px 18px 30px rgba(23, 18, 50, 0.2);}
.rowgroup3 .flip:focus .flipcard, .rowgroup3 .flip:hover .flipcard{transform:rotateY(-180deg);}
.rowgroup3 .flip:focus .back, .rowgroup3 .flip:hover .back{visibility:visible;}
@media (min-width:1001px){
    .rowgroup3 h2:before{display:block;position:absolute;top:50px;left:-178px;width:1294px;height:202px;background:url(/portfolio/images/jecheon/main/deco02.png) no-repeat left top / contain;content:"";}
    .rowgroup3 .more a:hover:after{transform:rotateZ(360deg);transition:400ms linear;}
    .rowgroup3 .flip{perspective:1100px;}
    .rowgroup3 .flipcard{transform-style:preserve-3d;}
    .rowgroup3 .front, .rowgroup3 .back{background-color:white;backface-visibility:hidden;}
    .rowgroup3 .back .title:after{display:block;position:absolute;bottom:-24px;left:0;width:30px;height:1px;background-color:#2e2d72;content:"";}
    .rowgroup3 .card_slide .slide_control button:hover{background-color:white;}
    .rowgroup3 .card_slide .slide_control button:hover:after{background-position-x:-11px;}
    .rowgroup3 .back .abtn{top:75px;right:0;width:80px;height:50px;border-radius:10px 0 0 10px;background-color:#f3f3f5;}
    .rowgroup3 .back .abtn:after{display:block;position:absolute;top:calc(50% - 6px);left:calc(50% - 10px);width:21px;height:12px;background:url(/portfolio/images/jecheon/main/link_arrow.png) no-repeat -21px 0;content:"";}
    .rowgroup3 .flip:focus .back .abtn:after, .rowgroup3 .flip:hover .back .abtn:after{animation:arrowShake2 700ms infinite linear;}
    .ie .rowgroup3 .back{z-index:1;transform:rotateY(0);transition:none;}
    .ie .rowgroup3 .flip:hover .flipcard{transform:rotateY(0);}
}
@media (max-width:1492px){
    .rowgroup3 .card_slide .slide_control button.prev{left:0;}
    .rowgroup3 .card_slide .slide_control button.next{right:0;}
}
@media (max-width:1400px){
    .rowgroup3:before{left:calc((1000px - 100vw) / 2);}
    .rowgroup3 .card_slide{width:960px;margin:0 auto;}
    .rowgroup3 .card_slide .slick-list{padding:30px 40px 58px;}
    .rowgroup3 .card_slide .slide_control button.prev{left:-19px;}
    .rowgroup3 .card_slide .slide_control button.next{right:-19px;}
}
@media (max-width:1000px){
    .rowgroup3{margin-bottom:50px;padding-top:50px;}
    .rowgroup3:before{top:218px;left:calc((100% - 100vw) / 2);width:100vw;}
    .rowgroup3 .more{position:absolute;top:50px;right:0;margin-top:0;}
    .rowgroup3 .more a{width:30px;color:transparent;font-size:0;}
    .rowgroup3 .card_slide{width:100%;margin-top:15px;}
    .rowgroup3 .card_slide .slide_item{display:inline-block;width:310px;height:298px;margin-right:30px;}
    .rowgroup3 .card_slide .slide_control{display:none;}
    .rowgroup3 .flip{width:310px;height:298px;box-shadow:4px 3px 15px rgba(23, 18, 50, 0.15);}
    .rowgroup3 .flipcard .imgbox{height:200px;}
    .rowgroup3 .flipcard .title{font-size:17px;font-weight:300;}
    .rowgroup3 .flipcard .date{bottom:18px;left:22px;font-size:14px;}
    .rowgroup3 .front{background-color:white;}
    .rowgroup3 .front .titlebox{padding:17px 22px;}
    .rowgroup3 .scrollbar{position:relative;margin-top:18px;cursor:pointer;}
    .rowgroup3 .scrollbar:before{display:block; position:absolute; top:4px; left:0; z-index:1; width:100%; height:3px; background-color:#b4b4b4; content:'';}
    .rowgroup3 .scrollbar .handle{position:relative;z-index:2;}
    .rowgroup3 .scrollbar .handle .mousearea{position:relative;height:11px;}
    .rowgroup3 .scrollbar .handle .mousearea:before{display:block; position:absolute; top:3px; left:0; width:100%; height:5px; background-color:#0c0b40; content:'';}
}
@media (max-width:640px){
    .rowgroup3:before{top:195px;}
    .rowgroup3 .flip, .rowgroup3 .card_slide .slide_item{width:260px;height:240px;}
    .rowgroup3 .card_slide .slick-slide{margin-right:20px;}
    .rowgroup3 .flipcard .imgbox{height:150px;}
    .rowgroup3 .flipcard .title{font-size:15px;line-height:21px;}
    .rowgroup3 .flipcard .date{font-size:13px;line-height:17px;}
}

.rowgroup4{position:relative;margin-bottom:105px;}
.rowgroup4 h2 span{color:#00a999;}
.rowgroup4 .flexbox{display:flex;justify-content:space-between;align-items:flex-start;position:relative;width:100%;margin-top:52px;padding:0 30px;box-sizing:border-box;}
.rowgroup4 .flexbox:before{display:block;position:absolute;top:50px;right:calc((100% - 100vw) / 2);width:1275px;height:588px;background-color:#0c0b40;content:"";}
.rowgroup4 .more{position:absolute;top:0;right:30px;}
.rowgroup4 .more a{width:70px;color:#333;font-size:15px;font-weight:300;line-height:33px;}
.rowgroup4 .more a:after{display:block;position:absolute;top:calc(50% - 9px);right:0;width:18px;height:18px;background:url(/portfolio/images/jecheon/main/news_icon.png) no-repeat -18px 0;content:"";}
.rowgroup4 .imgcon{position:relative;width:785px;height:460px;}
.rowgroup4 .imgcon .imgbox{visibility:hidden;position:absolute;top:0;left:0;width:100%;height:100%;border-radius:30px;background-repeat:no-repeat;background-position:center;background-size:cover;transition:500ms ease-in-out;opacity:0;}
.rowgroup4 .imgcon .imgbox.active{visibility:visible;opacity:1;}
.rowgroup4 .imgcon .imgbox img{width:0;height:0;}
.rowgroup4 .news_slide{width:505px;min-height:500px;padding-top:85px;box-sizing:border-box;}
.rowgroup4 .news_slide .slick-slider{position:unset;}
.rowgroup4 .news_slide .textbox{position:relative;width:100%;padding-top:34px;padding-bottom:36px;padding-left:1px;box-sizing:border-box;color:white;font-family:Noto;text-align:left;transition:300ms ease-in-out;}
.rowgroup4 .news_slide .textbox:after{display:block;position:absolute;bottom:0;left:0;width:100%;height:1px;background-color:white;content:"";}
.rowgroup4 .news_slide .textbox .title{overflow:hidden;height:30px;font-size:20px;font-weight:500;line-height:30px;white-space:nowrap;text-overflow:ellipsis;}
.rowgroup4 .news_slide .textbox .text{visibility:hidden;height:0px;margin:0;font-size:16px;font-weight:300;line-height:18px;transition:300ms ease-in-out;opacity:0;}
.rowgroup4 .news_slide .textbox .date{position:relative;margin-top:6px;font-weight:300;}
.rowgroup4 .news_slide .textbox .date:before{display:block;visibility:hidden;position:absolute;top:1px;left:0;width:18px;height:18px;background:url(/portfolio/images/jecheon/main/news_icon.png) no-repeat;content:"";opacity:0;}
.rowgroup4 .news_slide .textbox span{visibility:hidden;position:absolute;right:3px;bottom:26px;width:21px;height:12px;background:url(/portfolio/images/jecheon/main/link_arrow.png) no-repeat;color:transparent;font-size:0;transform:scaleY(0);opacity:0;}
.rowgroup4 .news_slide .slide_item.active .textbox{padding-top:10px;padding-bottom:20px;}
.rowgroup4 .news_slide .slide_item.active .textbox:after{height:2px;}
.rowgroup4 .news_slide .slide_item.active .textbox .text{visibility:visible;height:36px;margin:11px 0 23px;opacity:0.6;}
.rowgroup4 .news_slide .slide_item.active .textbox .date{margin-top:0;padding-left:26px;transition:300ms ease-in-out;}
.rowgroup4 .news_slide .slide_item.active .textbox .date:before{visibility:visible;opacity:1;}
.rowgroup4 .news_slide .slide_item.active .textbox span{visibility:visible;transform:scaleY(1);opacity:1;}
.rowgroup4 .news_slide .slick-dots{display:flex;justify-content:space-between;align-items:center;position:absolute;bottom:-49px;left:calc(50% - 21px);width:42px;}
.rowgroup4 .news_slide .slick-dots li{width:8px;height:8px;font-size:0;}
.rowgroup4 .news_slide .slick-dots li button{width:100%;height:100%;border-radius:50%;background-color:white;color:transparent;font-size:0;opacity:0.5;}
.rowgroup4 .news_slide .slick-dots li.slick-active button{opacity:1;}
.rowgroup4 .news_slide .slide_control{position:absolute;bottom:-36px;left:calc(50% - 52px);width:104px;}
.rowgroup4 .news_slide .slide_control button{position:absolute;top:0;width:11px;height:17px;background:url(/portfolio/images/jecheon/main/news_arrow.png) no-repeat;color:transparent;font-size:0;}
.rowgroup4 .news_slide .slide_control button.prev{left:0;}
.rowgroup4 .news_slide .slide_control button.next{right:0;transform:scaleX(-1);}
.ie .rowgroup4 .news_slide .slick-dots{left:calc(-50% + 68px);}
@media (min-width:1001px){
    .rowgroup4 .more a:hover:after{transform:rotateZ(360deg);transition:400ms linear;}
    .rowgroup4 .news_slide .slick-rows:nth-child(3) .textbox:after{display:none;}
    .rowgroup4 .news_slide .textbox:hover span{animation:arrowShake2 700ms infinite linear;}

    .rowgroup4 .news_slide .slide_control button:hover{background-position-x:-11px;}
}
@media (max-width:1400px){
    .rowgroup4 .flexbox{padding:0;}
    .rowgroup4 .flexbox:before{left:225px;}
    .rowgroup4 .imgcon{width:470px;}
    .ie .rowgroup4 .news_slide .slick-dots{left:-15px;}
}
@media (max-width:1000px){
    .rowgroup4 .flexbox{flex-direction:column;align-items:center;margin-top:15px;}
    .rowgroup4 .flexbox:before{top:100px;left:calc((100% - 100vw) / 2);width:100vw;height:2000px;}
    .rowgroup4 .more{top:-49px;right:0;}
    .rowgroup4 .more a{width:30px;color:transparent;font-size:0;}
    .rowgroup4 .imgcon{width:100%;max-width:785px;height:40vw;min-height:350px;}
    .rowgroup4 .news_slide{width:100%;max-width:785px;min-height:340px;padding-top:5px;}
    .rowgroup4 .news_slide .textbox{padding:15px 0;}
    .rowgroup4 .news_slide .textbox span{display:none;}
    .ie .rowgroup4 .news_slide .slick-dots{left:calc(50% - 21px);}
}
@media (max-width:640px){
    .rowgroup4 .flexbox:before{top:40px;}
    .rowgroup4 .imgcon{min-height:194px;}
    .rowgroup4 .news_slide{min-height:282px;}
    .rowgroup4 .news_slide .textbox .title{height:24px;font-size:16px;font-weight:300;line-height:24px;}
    .rowgroup4 .news_slide .textbox .text{font-size:13px;line-height:15px;}
    .rowgroup4 .news_slide .textbox .date{font-size:13px;line-height:15px;}
    .rowgroup4 .news_slide .textbox .date:before{top:2px;width:12px;height:12px;background-size:24px 12px;}
    .rowgroup4 .news_slide .slide_item.active .textbox .title{font-weight:500;}
    .rowgroup4 .news_slide .slide_item.active .textbox .text{height:30px;margin:9px 0 19px;}
    .rowgroup4 .news_slide .slide_item.active .textbox .date{padding-left:17px;}
}

/* focus 모음 */
@media (min-width:1001px){
    .rowgroup1 .visual_slide .slide_control button:focus:before, .rowgroup1 .visual_slide .sns_box a:focus:before,
    .rowgroup4 .news_slide .textbox:focus:before, .rowgroup4 .news_slide .textbox a:focus:before, .rowgroup1 .visual_slide .countbox .auto:focus:before{display:block;position:absolute;top:0;left:0;width:100%;height:100%;border:1px dashed white;box-sizing:border-box;content:"";}
    .rowgroup1 .visual_slide .countbox .auto:focus:before{border-radius:50%;}
    .rowgroup1 .visual_slide .slide_control button.prev:focus:before{border-radius:40px 0 0 40px;}
    .rowgroup1 .visual_slide .slide_control button.next:focus:before{border-radius:0 40px 40px 0;}
}

