/* (주)한신정보기술 김진솔 - 2022.10 */

body.normal .familybtn{color: white;}
body.normal .familybtn i{background-image: none;background-color: transparent;border: 2px solid white;}
body.normal .familybtn i:before{display: none;}
body.normal .familybtn span:before{background-position: -30px 0;}
.logo .image{background-image: url(/portfolio/images/guri/common/layout/logo_white.png);}
.logo .text{color: white;}
.search_btn:before{background-position-x: -90px;}
body.normal .sitemapbtn:before{background-position-x: -150px;}

body.normal #wrapper[data-nowtop="nontop"] .sitemapbtn:before{background-position-x: -120px;}

#footer{z-index:50;}

@media all and (min-width:1001px) {
    body.normal .header_top{background-color: rgba(0, 0, 0, 0.2);}
    body.normal .site_link ul .link_item .linkbtn{color: white;}
    body.normal .lnb{background-color: transparent;}
    body.normal .lnb .menu:after{display: none;}
    .lnb_open body.visualtype .familybtn i{border: none;}
    .lnb_open body.visualtype .logo .text{color: black;}
    .site_link ul .link_item .linkbtn:before{background-color: white;bottom: 0;}
    #wrapper[data-nowtop="nontop"] .lnb{background-color: white;}
    #wrapper[data-nowtop="nontop"] .logo .image{background-image: url(/portfolio/images/guri/common/layout/logo_color.png);}
    #wrapper[data-nowtop="nontop"] .logo .text{color: black;}
    #wrapper[data-nowtop="nontop"] .search_btn:before{background-position-x: -60px;}
}
