@charset "utf-8";
/* CSS Document */

.cont01{width:100%; height:100%; letter-spacing:-0.5px;}
.cont01 .contentBox{padding-top:120px; box-sizing:border-box;}
.cont01 .category{font-size:18px; line-height:1.45; font-weight:200; margin-bottom:60px; box-sizing:border-box;}
.cont01 .category span{font-weight:400; display:block;}
.cont01 .contentWrap::before{content:''; width:44px; height:4px; display:block; margin:0 auto;}
.cont01 .contentWrap{text-align:center; margin:0 auto;}



/* brand_intro */
.brand_intro .cont01 .category{color:#2e2e2e;}
.brand_intro .cont01 .contentWrap::before{background:#2e2e2e;}
.brand_intro .cont01 .contentWrap{color:#2e2e2e;}
.brand_intro .cont01 .contentWrap .subTitle{font-size:24px; line-height:1.65; font-weight:200; margin-top:60px; margin-bottom:20px; text-transform:uppercase;}
.brand_intro .cont01 .contentWrap h2{font-size:56px; line-height:70px; font-weight:600; margin-bottom:70px;}
.brand_intro .cont02 .brandWrap{width:100%; min-height:660px; position:relative; margin-bottom:230px; z-index:9;}
.brand_intro .cont02 .brandWrap li{width:590px; height:100%; position:absolute; cursor:pointer; padding:94px 40px 70px; box-sizing:border-box;}
.brand_intro .cont02 .brandWrap li .logo{height:74px; margin-bottom:30px;}
.brand_intro .cont02 .brandWrap li .txt{height:338px; font-size:18px; color:#372f2d; line-height:1.45; font-weight:200;}
.brand_intro .cont02 .brandWrap li .txt strong{font-weight:600; display:block; margin-bottom:28px;}
.brand_intro .cont02 .brandWrap li .txt span em{font-style:normal;}
.brand_intro .cont02 .brandWrap li .btn{width:360px; height:55px; /*display:block;*/ text-align:center; color:#fff; font-size:18px; font-weight:600; line-height:55px;}
.brand_intro .cont02 .brandWrap li.neworigin{background:#f5f2ed; left:0;}
.brand_intro .cont02 .brandWrap li.neworigin .logo{width:342px;}
.brand_intro .cont02 .brandWrap li.neworigin .btn{background:#876e4c;}
.brand_intro .cont02 .brandWrap li.store{background:#f8f8f8; right:0;}
.brand_intro .cont02 .brandWrap li.store .logo{font-size:36px; font-weight:600; color:#443d3b; vertical-align:middle;}
.brand_intro .cont02 .brandWrap li.store .logo img{width:285px;}
.brand_intro .cont02 .brandWrap li.store .btn{background:#372f2d;}
.brand_intro .tabBgWrap{width:100%; height:100%; position:fixed; top:0; left:0; z-index:3; /*display:none;*/}
.brand_intro .tabBgWrap>div{width:50%; height:100%; position:absolute;}
.brand_intro .tabBgWrap .neworigin{right:0; margin-right:-50%;}
.brand_intro .tabBgWrap .store{left:0; margin-left:-50%;}

/* brand_neworigin */
.brand_neworigin .cont01 .category{margin-bottom:210px;}
.brand_neworigin .cont02{background:#f5f2ed; margin-bottom:175px; position:relative;}
.brand_neworigin .lineUpWrap .selectBox{width:250px; height:68px; position:absolute; top:-68px; left:50%; margin-left:-600px; cursor:pointer;}
.brand_neworigin .lineUpWrap .selectBox p{font-size:24px; line-height:68px; font-weight:600;}
.brand_neworigin .lineUpWrap .selectBox p::before{content:''; width:24px; height:24px; display:inline-block; background:url('/data/yuhancare/inc/img/brand/icon_dropDown.png') no-repeat left center; margin-right:16px; vertical-align:middle;}
.brand_neworigin .lineUpWrap .selectBox .depth{border:1px solid #a99883; padding:7px 12px; box-sizing:border-box; background:#fff; position:absolute; top:68px; left:40px; z-index:9; display:none;}
.brand_neworigin .lineUpWrap .selectBox .depth li{width:100%; height:42px; line-height:42px; border-bottom:1px solid #dddddd; font-size:18px; font-weight:200; padding:0 8px; box-sizing:border-box;}
.brand_neworigin .lineUpWrap .selectBox .depth li:last-child{border-bottom:none;}
.brand_neworigin .lineUpWrap .selectBox .depth li.on{font-weight:600;}
.brand_neworigin .lineUpWrap .selectBox .depth li a{color:#343434;}
.brand_neworigin .lineUpWrap .imgSlideWrap{width:calc(50% + 130px); height:660px; overflow:hidden; position:relative; left:50%; top:-68px; z-index:3; margin-left:-130px;}
.brand_neworigin .lineUpWrap .imgSlide{display:inline-block; width:100%; height:620px; vertical-align:top;}
.brand_neworigin .lineUpWrap .imgSlide .swiper-slide{width:400px; margin-right:30px; position:relative; box-shadow:6px 0 10px rgba(0,0,0,0.3);}
.brand_neworigin .lineUpWrap .imgSlide .swiper-slide img{width:100%;}
.brand_neworigin .lineUpWrap .imgSlide .swiper-slide-active:before{display:block;}
.brand_neworigin .lineUpWrap .paginationWrap{width:775px; height:18px; position:absolute; bottom:50px; left:50%; margin-left:-130px;}
.brand_neworigin .lineUpWrap .paginationWrap .swiper-scrollbar{width:675px; height:2px; position:absolute; left:0; bottom:5px; display:block!important;/**/}
.brand_neworigin .lineUpWrap .paginationWrap .swiper-pagination-fraction{width:100px; height:100%; font-size:18px; font-weight:200; line-height:1.5; color:#2c2c2c; position:absolute; bottom:0; left:auto; right:0;}
.brand_neworigin .lineUpWrap .swiperControlWrap{width:126px; height:62px; position:absolute; bottom:25px; left:50%; margin-left:-600px; font-size:0; z-index:1;}
.brand_neworigin .lineUpWrap .swiperControl .swiper-button-prev,.lineUpWrap .swiperControl .swiper-button-next{width:62px; height:62px; background:#876e4c; top:0; margin-top:0;}
.brand_neworigin .lineUpWrap .swiperControl .swiper-button-prev{background:#876e4c url('/data/yuhancare/inc/img/brand/btn_prev.png') no-repeat center / 11px; left:0;}
.brand_neworigin .lineUpWrap .swiperControl .swiper-button-next{background:#876e4c url('/data/yuhancare/inc/img/brand/btn_next.png') no-repeat center / 11px; right:0;}
.brand_neworigin .lineUpWrap .swiperControl .swiper-button-prev:after,.lineUpWrap .swiperControl .swiper-button-next:after{content:'';}
.brand_neworigin .lineUpWrap .infoSlide{display:inline-block; width:470px; height:100%; overflow:hidden; vertical-align:top; position:absolute; top:0; left:50%; margin-left:-600px;}
.brand_neworigin .lineUpWrap .infoSlide .swiper-slide{height:100%; padding-top:100px; box-sizing:border-box; background:#f5f2ed;}
.brand_neworigin .lineUpWrap .infoSlide .swiper-slide .title{font-size:46px; font-weight:600; line-height:1.3; color:#876e4c; margin-bottom:40px; letter-spacing:-0.5px;}
.brand_neworigin .lineUpWrap .infoSlide .swiper-slide .title span{font-size:26px; display:block; line-height:60px;}
.brand_neworigin .lineUpWrap .infoSlide .swiper-slide .title span em{font-size:18px; font-style:normal; position:relative; top:-8px;}
.brand_neworigin .lineUpWrap .infoSlide .swiper-slide .txt{height:auto/*230px*/; font-size:16px; font-weight:200; color:#343434; line-height:1.6; letter-spacing:-0.5px; margin-bottom:32px;}
.brand_neworigin .lineUpWrap .infoSlide .swiper-slide .txt em{font-size:13px; line-height:20px; font-style:normal;}
.brand_neworigin .lineUpWrap .infoSlide .swiper-slide .product{font-size:16px; font-weight:600; color:#343434; line-height:1.6;}
.brand_neworigin .lineUpWrap .infoSlide .swiper-slide .product::before{content:'뉴오리진'; display:block;}
.brand_neworigin .lineUpWrap .swiper-pagination-current::before,.lineUpWrap .swiper-pagination-total::before{content:'0';}

/* brand_store */
.brand_store h2{width:100%; height:328px; display:table; text-align:center;}
.brand_store h2 p{height:100%; display:table-cell; vertical-align:middle; font-size:56px; font-weight:600; line-height:64px;}
.brand_store h2 p.mo{display:none;}
.brand_store h2 span{display:block; font-size:24px; line-height:52px;}
.brand_store .cont01 .category{margin-bottom:104px;}
.brand_store .cont02 .storeImg{width:100%; height:934px; background:url('/data/yuhancare/inc/img/brand/brand_store_01.jpg') no-repeat center / contain;}
.brand_store .cont02 .storeImg img{height:100%;}
.brand_store .cont02 .storeContent{/*padding:0 0 114px 0;*/ box-sizing:border-box; overflow:hidden;}
.brand_store .cont02 .storeContent .storeSlide{width:500px; height:688px; float:left; margin-right:100px; overflow:hidden;}
.brand_store .cont02 .storeContent .txt{padding-top:100px;}
.brand_store .cont02 .storeContent .txt h3{font-size:36px; font-weight:600; margin-bottom:25px;}
.brand_store .cont02 .storeContent .txt p{font-size:16px; line-height:1.7; font-weight:200; margin-bottom:143px;}
.brand_store .cont02 .storeContent .txt p:last-of-type{margin-bottom:0;}
.brand_store .cont03{margin-bottom:145px;}
.brand_store .cont03 .menuImg{width:100%; height:935px; background:url('/data/yuhancare/inc/img/brand/brand_store_02.jpg') no-repeat center / contain;}
.brand_store .cont03 .menuImg img{height:100%;}
.brand_store .cont03 .menuContent{/*padding:0 0 114px 0;*/ box-sizing:border-box; overflow:hidden;}
.brand_store .cont03 .menuContent .menuSlide{width:500px; height:688px; float:right; margin-left:100px; overflow:hidden;}
.brand_store .cont03 .menuContent .txt{padding-top:100px;}
.brand_store .cont03 .menuContent .txt h3{font-size:36px; font-weight:600; margin-bottom:25px;}
.brand_store .cont03 .menuContent .txt p{font-size:16px; line-height:1.7; font-weight:200; margin-bottom:142px;}
.brand_store .cont03 .menuContent .txt p:last-of-type{margin-bottom:0;}
.brand_store .list .bar{width:1px; height:120px; display:block; margin:0 auto;}
.brand_store .list .bar p{width:100%; height:0; display:block; margin:0 auto; background:#000;}
.brand_store .list .bar p.animate{animation:growDown 1s ease-in-out; -webkit-animation:growDown 1s ease-in-out; height:0; height:150px; animation-fill-mode:both; -webkit-animation-fill-mode:both;}
.brand_store .list h3{width:100%; height:187px; display:table; font-size:26px; line-height:36px; font-weight:600; text-align:center;}
.brand_store .list h3 p{height:100%; display:table-cell; vertical-align:middle;}
.brand_store .list ul{width:100%; overflow:hidden; margin-bottom:127px;}
.brand_store .list ul li{width:390px; float:left; margin-right:15px;}
.brand_store .list ul li:last-child{margin-right:0;}
.brand_store .list ul li .img{margin-bottom:22px;}
.brand_store .list ul li p{font-size:16px; line-height:28px; color:#2e2e2e;}

/* keyframes */
@-webkit-keyframes growDown {
	0%{height:0;}
	100%{height:120px;}
}
@keyframes growDown {
	0%{height:0;}
	100%{height:120px;}
}
@-webkit-keyframes growDownM {
	0%{height:0;}
	100%{height:13.333vw;}
}
@keyframes growDownM {
	0%{height:0;}
	100%{height:13.333vw;}
}


@media (max-width:768px){
	/* brand */


	/* brand_intro */
	.brand_intro .cont01{min-height:inherit;}
	.brand_intro .cont01 .contentBox{padding-top:30%;}
	.brand_intro .cont01 .category{font-size:3.555vw; margin-bottom:2%;}
	.brand_intro .cont01 .category span{font-weight:400;}
	.brand_intro .cont01 .contentWrap{text-align:left;}
	.brand_intro .cont01 .contentWrap::before{margin:0;}
	.brand_intro .cont01 .contentWrap .subTitle{font-size:4vw; margin:12.888vw 0 2vw;}
	.brand_intro .cont01 .contentWrap h2{font-size:6.666vw; line-height:10.222vw; margin-bottom:11.111vw; font-weight:600;}


	.brand_intro .cont02 .contentBox{width:100%;}
	.brand_intro .cont02 .brandWrap{min-height:auto; margin-bottom:12.5vw; text-align:center;}
	.brand_intro .cont02 .brandWrap li{width:100%; height:auto; position:inherit; padding:12.888vw 0;}
	.brand_intro .cont02 .brandWrap li .logo{width:69.777vw; height:auto; margin:0 auto;}
	.brand_intro .cont02 .brandWrap li .txt{height:auto; font-size:3.333vw; line-height:5.777vw;}
	.brand_intro .cont02 .brandWrap li .txt strong{font-size:4vw; line-height:8.222vw; margin-bottom:5.555vw;}
	.brand_intro .cont02 .brandWrap li .txt span{display:none;/**/}
	.brand_intro .cont02 .brandWrap li .txt span em{font-weight:bold;}
	.brand_intro .cont02 .brandWrap li .txt span em span{display:inline; font-weight:bold;}
	.brand_intro .cont02 .brandWrap li .txt .bar{width:1px; height:0/*11.111vw*/; display:block; background:#372f2d; margin:0 auto 5.555vw;}
	.brand_intro .cont02 .brandWrap li .btn{width:68.666vw; height:12.222vw; font-size:4vw; line-height:12.222vw; margin:5vw auto 0;}
	.brand_intro .cont02 .brandWrap li.neworigin{margin-bottom:2.222vw;}
	.brand_intro .cont02 .brandWrap li.neworigin .logo{width:69.777vw;}
	.brand_intro .cont02 .brandWrap li.store .logo{font-size:36px; font-weight:600; color:#443d3b; vertical-align:middle;}
	.brand_intro .cont02 .brandWrap li.store .logo img{width:100%;}

	/* brand_neworigin */
  .brand_neworigin .cont01{margin-bottom:14.888vw;}
  .brand_neworigin .cont01 .contentBox{padding-top:30%;}
  .brand_neworigin .cont01 .category{font-size:3.555vw; margin-bottom:2%;}
  .brand_neworigin .cont01 .category span{font-weight:400;}
  .brand_neworigin .cont01 .contentWrap{text-align:left;}
  .brand_neworigin .cont01 .contentWrap::before{margin:0; background:#3e3e3e;}
  .brand_neworigin .cont02{margin-bottom:15vw; background:none;}
  .brand_neworigin .selectBox{width:100%; height:32.888vw; position:relative; top:0; left:0; margin-left:0; margin-bottom:51.333vw/*7vw*/;}
  .brand_neworigin .selectBox li{width:22.222vw; height:32.888vw; position:absolute; font-size:3.555vw; letter-spacing:-0.5px; text-align:center;}
  .brand_neworigin .selectBox li a{color:#2d2d2d;}
  .brand_neworigin .selectBox li.on a{color:#876e4c;}
  .brand_neworigin .selectBox li:nth-child(1){left:0;}
  .brand_neworigin .selectBox li:nth-child(2){left:50%; transform:translateX(-50%); -webkit-transform:translateX(-50%);}
  .brand_neworigin .selectBox li:nth-child(3){right:0;}
  .brand_neworigin .selectBox li::before{content:''; display:block; width:100%; height:22.222vw; border-radius:50%; background-color:#d8d2ca; background-repeat:no-repeat; background-position:center; margin-bottom:3.555vw;}
  .brand_neworigin .selectBox li.on::before{background-color:#876e4c;}
  .brand_neworigin .selectBox li:nth-child(1)::before{background-image:url('/data/yuhancare/inc/img/brand/brand_neworigin_tab1.png'); background-size:10.888vw;}
  .brand_neworigin .selectBox li:nth-child(2)::before{background-image:url('/data/yuhancare/inc/img/brand/brand_neworigin_tab2.png'); background-size:8vw;}
  .brand_neworigin .selectBox li:nth-child(3)::before{background-image:url('/data/yuhancare/inc/img/brand/brand_neworigin_tab3.png'); background-size:7.111vw;}
  .brand_neworigin .lineUpWrap{background:#f5f2ed;}
  .brand_neworigin .lineUpWrap .list{min-height:124.444vw; height:auto; padding-bottom:17.777vw; box-sizing:border-box;}
  .brand_neworigin .lineUpWrap .imgSlideWrap{width:92vw; height:67.333vw; left:50%; top:-44.222vw; margin-left:-42vw;}
  .brand_neworigin .lineUpWrap .imgSlide{width:100%; height:67.333vw;}
  .brand_neworigin .lineUpWrap .imgSlide .swiper-wrapper{margin-left:-4.5vw;}
  .brand_neworigin .lineUpWrap .swiper-container-autoheight .swiper-wrapper{overflow:hidden;}
  .brand_neworigin .lineUpWrap .imgSlide .swiper-slide{width:83.555vw; margin-right:0; box-shadow:none;}
  .brand_neworigin .lineUpWrap .paginationWrap{width:80vw; height:3.555vw; bottom:95vw; margin-left:-40vw;}
  .brand_neworigin .lineUpWrap .paginationWrap .swiper-scrollbar{width:68vw; height:0.444vw; bottom:1.333vw;}
  .brand_neworigin .lineUpWrap .paginationWrap .swiper-pagination-fraction{width:9.2vw; font-size:3.2vw;}
  .brand_neworigin .lineUpWrap .swiperControlWrap{width:95vw; height:12vw; left:2.5vw; top:67vw; bottom:inherit; margin-left:0; z-index:3;}
	.brand_neworigin .lineUpWrap .swiperControl .swiper-button-prev,.lineUpWrap .swiperControl .swiper-button-next{width:12vw; height:12vw;}
	.brand_neworigin .lineUpWrap .swiperControl .swiper-button-prev{background-size:2vw;}
	.brand_neworigin .lineUpWrap .swiperControl .swiper-button-next{background-size:2vw;}

  .brand_neworigin .lineUpWrap .infoSlide{display:inline-block; width:100%; height:auto; top:122vw; left:0; margin-left:0; overflow:inherit;}
  .brand_neworigin .lineUpWrap .infoSlide .swiper-slide{height:auto; padding:0 9vw 13.333vw; overflow:hidden;}
  .brand_neworigin .lineUpWrap .infoSlide .swiper-slide .title{font-size:8vw; line-height:9.777vw; margin-bottom:7.555vw;}
  .brand_neworigin .lineUpWrap .infoSlide .swiper-slide .title span{font-size:4.888vw; line-height:9.777vw;}
	.brand_neworigin .lineUpWrap .infoSlide .swiper-slide .title span em{font-size:4vw; top:-1vw;}
  .brand_neworigin .lineUpWrap .infoSlide .swiper-slide .txt{font-size:3.555vw; letter-spacing:-1px; margin-bottom:10vw;}
	.brand_neworigin .lineUpWrap .infoSlide .swiper-slide .txt em{font-size:2.888vw; line-height:4.444vw;}
  .brand_neworigin .lineUpWrap .infoSlide .swiper-slide .product{font-size:3.555vw;}
  .brand_neworigin .lineUpWrap .swiper-pagination-current::before,.lineUpWrap .swiper-pagination-total::before{content:'';}

	/* brand_store */
	.brand_store h2{height:50.888vw;}
  .brand_store h2 p{font-size:8vw; line-height:9.333vw;}
  .brand_store h2 p.pc{display:none;}
  .brand_store h2 p.mo{display:table-cell;}
  .brand_store h2 span{font-size:3.333vw; line-height:5.555vw; font-weight:200;}
  .brand_store .cont01{min-height:inherit;}
	.brand_store .cont01 .contentBox{padding-top:30%;}
	.brand_store .cont01 .category{font-size:3.555vw; margin-bottom:2%;}
	.brand_store .cont01 .category span{font-weight:400;}
  .brand_store .cont01 .contentWrap::before{background:#2e2e2e; margin:0; margin-bottom:20vw;}
  .brand_store .cont01 .contentWrap .logo{width:58.666vw; margin:0 auto 6vw;}
  .brand_store .cont01 .switch{width:55.555vw; height:8vw; position:relative; display:inline-block; vertical-align:middle; margin-bottom:10vw;}
  .brand_store .cont01 .switch input{display:none;}
  .brand_store .cont01 .switchSlider{position:absolute; cursor:pointer; top:0; left:0; right:0; bottom:0; background:#cbcbcb; -webkit-transition:0.4s; transition:0.4s;}
  .brand_store .cont01 .switchSlider:before{content:''; width:31.111vw; height:8vw; position:absolute; left:0; bottom:0; background:#382f2d; -webkit-transition:0.4s; transition:0.4s; margin:0;}
  .brand_store .cont01 input:checked + .switchSlider:before{-webkit-transform: translateX(24.444vw); transform: translateX(24.444vw);}
  .brand_store .cont01 .switchSlider.round{border-radius:3.777vw;}
  .brand_store .cont01 .switchSlider.round:before{border-radius:3.777vw;}
  .brand_store .cont01 .switchBtn{width:31.111vw; display:inline-block!important; font-size:5vw; font-weight:600; color:#382f2d; line-height:8vw; position:absolute; top:0;}
  .brand_store .cont01 .switchBtn.store{left:0; color:#fff;}
  .brand_store .cont01 .switchBtn.dining{right:0; margin-right:-2vw;}
  .brand_store .cont02 .storeImg{height:133.333vw; background:url('/data/yuhancare/inc/img/brand/m-brand_store_01.jpg') no-repeat center / contain;}
  .brand_store .cont02 .storeContent{padding:0 0 8.888vw 0; overflow:visible;}
  .brand_store .cont02 .storeContent .storeSlide{width:100vw; height:88.888vw; float:none; margin-right:0; margin-left:-5vw;}
  .brand_store .cont02 .storeContent .txt{padding-top:12.444vw;}
  .brand_store .cont02 .storeContent .txt h3{font-size:5.777vw; margin-bottom:6vw;}
  .brand_store .cont02 .storeContent .txt p{font-size:3.333vw; line-height:5.555vw; margin-bottom:15.555vw; letter-spacing:-1px;}
  .brand_store .cont03{margin-bottom:0;}
  .brand_store .cont03 .menuImg{height:133.333vw; background:url('/data/yuhancare/inc/img/brand/m-brand_store_02.jpg') no-repeat center / contain;}
  .brand_store .cont03 .menuContent{padding:0 0 8.888vw 0; overflow:visible;}
  .brand_store .cont03 .menuContent .menuSlide{width:100vw; height:88.888vw; float:none; margin-right:0; margin-left:-5vw;}
  .brand_store .cont03 .menuContent .txt{padding-top:12.444vw;}
  .brand_store .cont03 .menuContent .txt h3{font-size:5.777vw; margin-bottom:6vw;}
  .brand_store .cont03 .menuContent .txt p{font-size:3.333vw; line-height:5.555vw; margin-bottom:15.555vw; letter-spacing:-1px;}
  .brand_store .list .bar{height:13.333vw;}
  .brand_store .list .bar p.animate{animation:growDownM 1s ease-in-out; -webkit-animation:growDownM 1s ease-in-out; height:0; height:13.333vw;}
  .brand_store .list h3{height:21.333vw; font-size:4vw; line-height:6.666vw; margin-top:4vw;}
  .brand_store .list h3 p{font-weight:600;}
  .brand_store .list ul{margin-bottom:16.666vw;}
  .brand_store .list ul li{width:100%; float:none; margin-right:0; margin-bottom:6vw;}
  .brand_store .list ul li .img{margin-bottom:2.222vw;}
  .brand_store .list ul li p{font-size:3.333vw; line-height:5.555vw;}

}

