/* (주)한신정보기술 김진솔 - 2022.10 */

/* 공통폰트 */
@font-face {
	font-family: 'SCoreDream';
	font-weight: 300;
	src: url("../font/S-CoreDream-3Light.woff") format('woff');
}
@font-face {
	font-family: 'SCoreDream';
	font-weight: 500;
	src: url("../font/S-CoreDream-5Medium.woff") format('woff');
}
@font-face {
	font-family: 'SCoreDream';
	font-weight: 700;
	src: url("../font/S-CoreDream-7ExtraBold.woff") format('woff');
}

a:hover{text-decoration: none;}



body.normal .familybtn i:before{display: none;}
body.normal .familybtn span:before{background: url(../images/common/icon.png) no-repeat -30px 0;}
.logo .image{background-image: url(/common/images/layout/logo_color.png);}



#footer{z-index:50;}

@media all and (min-width:1001px) {
    .logo .text{margin-top: 13px;}
    body.normal .site_link ul .link_item .linkbtn{color: black;}
    body.normal .site_link ul .link_item .linkbtn:hover{font-weight: 500;}
    body.normal #header .lnb .menu .depth1_text{font-weight: 500;}
    #header .lnb .menu .depth1_list{width: 440px;}
    body.normal .lnb .menu:after{display: none;}
    .lnb_open body.visualtype .familybtn i{border: none;}
    .lnb_open body.visualtype .logo .text{color: black;}
    .site_link ul .link_item .linkbtn:before{background-color: white;bottom: 0;}
    #wrapper[data-nowtop="nontop"] .lnb{background-color: white;}
    #wrapper[data-nowtop="nontop"] .logo .text{color: black;}
    #wrapper[data-nowtop="nontop"] .search_btn:before{background-position-x: -60px;}
}
@media (min-width:1401px) {
    #header .lnb .menu .depth1_list{width: 590px;}
}
