/* (주)한신정보기술 김진솔 - 2022.10 */

@font-face {
	font-family: 'SBAggroB';
	font-weight: 400;
	src: url("../font/SBAggroB.woff") format('woff');
}

/* 리빙랩이란? */
.whats_livinglab .conbox{border-radius: 90px;background-color: #faf6de;text-align: center;padding-top: 99px;overflow: hidden;position:relative;padding-bottom: 513px;}
.whats_livinglab .conbox:before{content: "";display: block;position: absolute;width: 750px;height: 750px;border-radius: 50%;background-color: #fffdf2;bottom: -367px;right: -249px;}
.whats_livinglab .conbox:after{content: "";display: block;position: absolute;width: 849px;height: 454px;bottom: 0;background: url(../images/contents/livinglab_02.png) no-repeat bottom / contain;left: 276px;}
.whats_livinglab .decobox{position:relative;}
.whats_livinglab .decobox:before, .whats_livinglab .decobox:after{content: "";display: block;position: absolute;border-radius: 50%;}
.whats_livinglab .decobox:before{width: 544px;height: 544px;top: -247px;left: -2px;background-color: #f5eba9;opacity:0.5;}
.whats_livinglab .decobox:after{width: 750px;height: 750px;background-color: white;opacity:0.3;top: -156px;left: -576px;}
.whats_livinglab .title{width: 306px;font-size: 35px;line-height: 45px;border-radius: 36px;background-color: #48d71d;margin: 0 auto;color: white;font-family: SBAggroB;padding: 19px 0 7px;margin-bottom: 26px;position:relative;}
.whats_livinglab .title span{font-size: 45px;color: #c6ff00;}
.whats_livinglab .subtitle{font-size: 35px;font-family: SBAggroB;line-height: 45px;color: #424037;margin-bottom: 10px;position:relative;}
.whats_livinglab p{font-size: 18px;font-weight: 300;position:relative;word-break: keep-all;}
.whats_livinglab .images{margin: 46px 0 114px;position:relative;}
@media (max-width:1400px) {
    .whats_livinglab .conbox{padding-bottom: 430px;}
    .whats_livinglab .conbox:before{width: 550px;height: 550px;bottom: -180px;}
    .whats_livinglab .conbox:after{width: 700px;height: 400px;left: 170px;}
    .whats_livinglab .decobox:before{width: 450px;height: 450px;left: -100px;}
    .whats_livinglab .decobox:after{width: 550px;height: 550px;left: -450px;}
}
@media (max-width:1000px) {
    .whats_livinglab .conbox{padding-bottom:47vw;}
    .whats_livinglab .conbox:after{width: 80%;height: 400px;left: 10%;}
}
@media (max-width:800px) {
    .whats_livinglab .conbox{padding: 50px 20px 47vw;border-radius: 60px;}
    .whats_livinglab .title{font-size: 25px;line-height: 35px;padding: 18px 0 8px;}
    .whats_livinglab .title span{font-size: 35px;}
    .whats_livinglab .subtitle{font-size: 25px;line-height: 35px;}
    .whats_livinglab p{font-size: 16px;}
    .whats_livinglab p br{display: none;}
}
@media (max-width:640px) {
    .whats_livinglab .conbox{padding: 40px 20px 47vw;border-radius: 40px;}
    .whats_livinglab .conbox:before{width: 450px;height: 450px;bottom: -240px;}
    .whats_livinglab .decobox:before{width: 320px;height: 320px;left: -100px;}
    .whats_livinglab .decobox:after{width: 450px;height: 450px;left: -420px;}
    .whats_livinglab .images{margin: 25px 0 60px;}
}
@media (max-width:480px) {
    .whats_livinglab .title{font-size: 20px;line-height: 30px;padding: 18px 0 8px;}
    .whats_livinglab .title span{font-size: 30px;}
    .whats_livinglab .subtitle{font-size: 20px;line-height: 30px;}
    .whats_livinglab p{font-size: 15px;}
}